/*
* Licensed Materials - Property of IBM
* 5724-Q36
* (c) Copyright IBM Corp. 2020
* US Government Users Restricted Rights - Use, duplication or disclosure
* restricted by GSA ADP Schedule Contract with IBM Corp.
*/

.datagrid-right-align-header {
  width: 100%;
  text-align: right;
  button {
    text-align: right;
  }
}

.datagrid-right-align-cell-renderer {
  width: 100%;
  text-align: right;
  padding-right: 23px;
}

.datagrid-right-align-cell-renderer.sortDisabled {
  padding-right: 0;
}
